html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(2, 1, 7);
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: 
        "h h"
        "m a"
        "f f"
    ;
}

/* ---------------- // ------------------- */
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 133px 50px;
    grid-template-areas: 
        "h m ."
        "s m r"
    ;
    background-color: rgb(78, 77, 77);
    grid-area: h;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif;
    word-break: break-all;
    background-image: url(../img/Wallpaper\ moon\,\ planet\,\ 4k\,\ Space\ 781457775.jpg);
    background-size: cover;
    color: rgb(207, 205, 205);
    margin-bottom: 5px;
}

header h1{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: h;
    font-size: 70px;
}

header h2{
    display: flex;
    grid-area: s;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.contact{
    display: flex;
    grid-area: r;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/* ---------------- // ------------------- */
main{
    grid-area: m;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 300px 1fr;
    grid-template-areas: 
        "i o "
        "t1 t2 "
    ;
    margin-left: 5px;
    background-color: rgb(207, 205, 205);
    
}

main img{
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    grid-area: i;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 5px solid rgb(19, 19, 19)
}

.about{
    grid-area: o;
    margin: 20px 35px 0px 35px 
}

.about > title{
    display: block;
    text-align: center;
}

.ttle{
    display: block;
    text-align: center;
}

.xp li{
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}

.xp{
    padding: 0px;
}

.comp ul{
   grid-area: t1;
    text-align: center;
    padding: 0px;
}

.comp li{
    grid-area: t1;
    list-style-type: none;
    padding: 20px;
}
.t2{
    margin: 10px 35px 0px 35px;
    grid-area: t2;
    padding: 2px;
}
 
/* ---------------- // ------------------- */
aside{
    display: flex;
    grid-area: a;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    background-color: rgb(207, 205, 205);
}

/* ---------------- // ------------------- */
footer{
    margin-top: 5px;
    display: flex;
    color: rgba(255, 255, 255, 0.678);
    grid-area: f;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 62, 62);
    background-image: url(../img/Wallpaper\ moon\,\ planet\,\ 4k\,\ Space\ 781457775.jpg);
    justify-content: space-around;
}

/* Social Media */
footer button img{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

footer button{
    display: flex;
    align-items: center;
}

/*  Responsive Layout */

@media(max-width: 800px){
    header h1, h2 {
        width: 200px;
        height: 200px;
        font-size: 50px;
    }

    main img{
        width: 150px;
        height: 150px;
    }

    .aside{
        display: none;
    }

    @media(max-width: 768px){
        main {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
                "i"
                "o"
                "t1"
                "t2"
            ;
        }
        .comp ul {
            display: block;
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            padding: 0;
            margin: 0px;
            text-align: center;
        }

        .ttle{
            display: block;
            text-align: center;
        }


    }
    
}